ul {
  margin: 0;
  padding: 0; }

.drawer-box {
  box-shadow: -7px 8px 17px rgba(0, 0, 0, 0.25);
  height: 100vh;
  flex-direction: column;
  position: fixed;
  right: -500px;
  top: 0; }

.drawer-conteiner {
  margin: 0 auto;
  width: 434px; }

.drawer-title {
  border-bottom: 3px solid #556724;
  padding: 10px; }
  .drawer-title h2 {
    color: #3C2515;
    display: inline-block;
    font-family: "Barlow Condensed", "Arial, Helvetica, sans-serif";
    font-size: 96px;
    font-weight: 500;
    margin: 0;
    padding-top: 45px;
    padding-left: 83px;
    text-align: center;
    text-transform: uppercase; }
  .drawer-title button {
    border: none;
    background-color: transparent;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    left: 91.12%;
    right: 3.16%;
    top: 2.44%;
    bottom: 94.73%; }

.product-details {
  padding-left: 20px; }
  .product-details li img {
    width: 50%; }

.drawer-delete button {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 90.7%;
  right: 3.85%;
  top: 30%;
  bottom: 74.4%; }

.drawer-product {
  border-bottom: 3px solid #556724;
  margin-top: 60px;
  padding-bottom: 30px; }

.product-details li {
  list-style: none; }
