.size-filter {
  background: #96C528;
  border-radius: 5px;
  font-size: 20px;
  height: 70px;
  font-family: "Fjalla One", "arial", sans-serif;
  padding-left: 10px;
  text-transform: 100;
  width: 100px; }
