.option {
  border-bottom: 2px solid white;
  background-color: #556724;
  color: #3C2515;
  cursor: pointer;
  display: block;
  font-size: 22px;
  text-align: left;
  transition: 1s all ease;
  padding: 20px;
  width: 100%;
}

.active {
  background-color: #96C528; }

.option:hover {
  background-color: #96C528; }

.content {
  background-color: white;
  display: none;
  padding: 18px; }

form label {
  color: #556724; }

.checkbox {
  margin-bottom: 0.5%; }

.option::after {
  content: '\02C6';
  float: right;
  font-size: 2rem;
  color: white;
  margin-left: 5px; }

.active::after {
  content: "\02C7";
  font-size: 2rem;
  color: white; }


.social-media{
  background-color: #556724;
  border-bottom: 2px solid white;
  padding: 2% 0 2% 0;
}

.images{
  align-items: center;
  display: flex;
  justify-content: center;
}

.option{
  color: white;
}

.main-content{
  max-width: 500px;
}

.instagram{
  margin: 0 2% 0 2%;
}
