.item-content {
  background: #96C528;
  transition: 0.2s ease-in-out;
  overflow: hidden; //Se reajustan cuando son formatos bloques para que no choquen entre si .
  max-height: 0;
  color: white;
}

.active + .item-content { //Cuando el div de arriba tenga active el item content va a tener maxheigh de 1000px
  max-height: 1000px;
  padding: 8px;
  opacity: 1;
}

.btn-item {
  background: #556724;
  display: block;
  color: white;
  padding: 8px;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.btn-item.active {
  background: #556724;
  opacity: 1;
}

.btn-item:after {
  content: "\02C6";
  float: right; }

.btn-item.active:after {
  content: "\02C7"; }

.social-media{
  background-color: #556724;
  border-bottom: 2px solid white;
  padding: 2% 0 2% 0;
}

.images{
  align-items: center;
  display: flex;
  justify-content: center;
}


.main-content{
  max-width: 500px;
}

.instagram{
  margin: 0 2% 0 2%;
}
