.footer__desktop--background{
  display: none;
  @media(min-width: $mini-desktop){
    background-color: $background-text;
    display: block;
  }
}
.footer__desktop{
  display: flex;
  justify-content: space-between;
}
.footer__desktop--lists{
  display: flex;
  width: calcularRem(800px);

  a{
    color: $light-font-color;
    text-decoration: none;
    font-family: $paragraph-font-family;
    
    &:hover{
      border-bottom: 2px solid $light-font-color;
    }
  }
  li{
    list-style: none;
    line-height: 50px;
  }
  h3{
    color: $light-font-color;
    font-family: $headlines-font-family;
  }
  div+div{
    padding-left: 168px;
  }
}
.footer__desktop--info{
  width: calcularRem(160px);
}
.footer__desktop--contact-us{

  h3{
    color: $light-font-color;
    font-family: $headlines-font-family;
  }
  p{
    color: $light-font-color;
    width:240px;
  }
}
.footer__desktop--social-media{

  h3{
    color: $light-font-color;
    font-family: $headlines-font-family;
    padding-bottom: 10px;
  }
}
.footer__desktop--copyright{

  p{
    color: $light-font-color;
    font-family: $paragraph-font-family;
    font-size: $small-fontsize;
  }
}

.instagram-logo{
  padding: 0px 60px;
}
