.content__social-media--img{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.item__content{ //Cuando el div de arriba tenga active el item content va a tener maxheigh de 1000px esto porque es adyacente siempre le va al segundo los estilos.
  background-color: $white-background;
  box-sizing: border-box;
  color: $background-brown;
  display: none;
  padding: 8px 0;

  p{
    color:$background-brown;
    font-family:$paragraph-font-family;
    font-size:$principal-paragraph;
  }
}
// Se coloca el active aqui por especificidad.
.active{
  display: block;
}
.item__boton {
  border-top: 2px solid $white-background;
  color: white;

  font-weight: bold;
  padding: 8px 8px 26px 8px;

  h4{
    color: $light-font-color;
    font-family: $headlines-font-family;
    font-size:$headline-four;
    margin: 0;
    padding-top: 14px;
  }
}
.item__boton{

  &::after{
    bottom: 16px;
    content: "\005E";
    float: right;
    font-size: 22px;
    transform: rotate(180deg);
    position: relative;
    right: 8px;
  }
}
.item__boton.arrow-open {

  &::after{
    bottom: 16px;
    content: "\005E";
    font-size: 22px;
    position: relative;
    right: 8px;
  }
}
.footer__acordeon--social{
  padding-bottom: $small-space-same-topic;
  padding-top: $small-space-same-topic;
}
.footer__acordeon--background{
  background-color: $background-text;
  @media (min-width:$mini-desktop) {
    display: none;
  }
}
.footer__logos--background{
  background-color: $background-brown;
}
.footer__logos--container{
  color: white;
  display: flex;
  justify-content:space-evenly;
  text-align: center;
  position: relative;
  padding-bottom: $small-space-same-topic;
  padding-top: $small-space-same-topic;

  @media(min-width: $mini-desktop){
    justify-content: space-between
  }

  h4{
    font-size:$headline-four;
    font-family:$font-fjalla-one;
    margin: 0;
    padding-bottom: $small-space-same-topic;
    @media(min-width: $mini-desktop){
      font-size:$headline-two;
    }
  }
}
.footer__logos--box--guarentee{

  &::before{
    content: "";
    background-color: white;
    height: 95px;
    left: 124px ;
    top: 20px;
    position: absolute;
    width: 4px;
    @media(min-width: $mini-desktop){
      height: 288px;
      left: 440px;
    }
  }
  &::after{
    content: "";
    background-color: white;
    height: 95px;
    left: 233px ;
    top: 20px;
    position: absolute;
    width: 4px;
    @media(min-width: $mini-desktop){
      height: 288px;
      left: 1060px;
    }
  }
}
.footer__images--box{
  display: block;
  height: auto;
  width: 50px;
  @media(min-width: $mini-desktop){
    font-size:$headline-two;
    width: 170px;
  }

  img{
    max-width: 100%;
    padding-left: 35px;
  }
}
.footer__logos--box{
  box-sizing: border-box;
  text-align: center;
  width: 112px;
}
