.main-title{
  color: $background-text-and-border-dark-green;
  font-family: $font-fjalla-one;
  font-size: $headline-one;
  letter-spacing: 3px;
  margin-bottom: 28px;
  margin-top: 48px;
  text-align: center;
}

.header__wrapper{
  align-items: center;
  display: flex;
  justify-content:space-between;
  padding-top: 13px;
}

.header__wrapper--logo a img {
  width: 45%;
}
.header__wrapper--user button {
  background-color: transparent;
  border: none;
  justify-content: space-between;
}
.header__wrapper--menu button {
  background-color: transparent;
  border: none;
  justify-content: space-between;
}
.header{
  background-color:$background-text-and-border-dark-green;
  height: 93px;
  width: 375px;
}

.header__content--heroimg img{
  max-width: 100%;
}


.header__content--heroimg p{
  color: white;
  font-size: $rem;
  position: absolute;
  top: 41%;
  right: 7%;
}

.header__content--boton{
  border: none;
  background-color:$background-and-border-green-lemon ;
  color: white;
  display: inline-block;
  padding: 3% 8% 3% 8%;
  position: absolute;
  top: 50%;
  right: 4%;
  text-decoration: none;
}

.header__container--logo a img {
  width: 45%;
}
.header__container--user button {
  background-color: transparent;
  border: none;
  justify-content: space-between;
}
.header__container--menu button {
  background-color: transparent;
  border: none;
  justify-content: space-between;
}

.header__container{
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-top: 13px;
  position: relative;
  width: 100%;
}
