ul{
  margin: 0;
  padding: 0;
}
.menu__box{
  background-color: $background-white;
  display: none;
  height: 620px;
  position: absolute;
  width: 375px;
}
.menu__box--container{
  margin: 0 auto;
  padding-top: 19px;
  width: 355px;
}
.menu__search{
  border-bottom: 3px solid $border-dark-green;
  padding-bottom: 19px;
}
.menu__search input{
  padding-bottom: 12px;
  padding-right: 152px;
}
.menu__hamburger--container{
  display: flex;
  flex-direction: column;
}
.menu__list--items {
  color: $dark-green-text;
  font-family: $headlines-font-family;
  font-size: $headline-three;
  list-style: none;
  padding-top: 20px;
}
.menu__category--subitems{
  display: flex;
  flex-direction: column;
  font-size: $headline-four;
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
  text-decoration: underline;
}
.menu__list--title{
  border-bottom: 3px solid $border-dark-green;
  margin-bottom: 31px;
  padding-bottom: 31px;
  text-decoration: underline;
}
.menu__list--titles{
  margin-bottom: 20px;
  text-decoration: underline;
}
.menu__category--subitems li {
  margin-bottom: 10px;
}
.menu__close--container button{
  background-color: transparent;
  border: none;
  justify-content: space-between;
  display: none;
}
.menu__close--container{
  display: none;
}
