ul{
  margin: 0;
  padding: 0;
}
.menu__box{
  background-color: $white-background;
  height: 100vh;
  position: absolute;
  width: 375px;
}
.menu__box--container{
  margin: 0 auto;
  padding-top: 19px;
  width: 355px;
}
.menu__search{
  padding-bottom: 19px;
}
.menu__search::after{
  content: "";
  position: absolute;
  left:  8px;
  top:  73px;
  width: 355px;
  height:3px;
  background-color: #6A7A40;

}
.menu__search {
  input {
  border: 2px solid #6A7A40;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-bottom: 12px;
  padding-right: 152px;
  }
  input::before{
    content: "";
    background-image: url(../../img/search.svg);
    position: absolute;
    left:  8px;
    top:  73px;
  }
}
.menu__hamburger--container{
  display: flex;
  flex-direction: column;
}
.menu__list--items {
  color: $background-text;
  font-family: $headlines-font-family;
  font-size: $headline-three;
  list-style: none;
  line-height: 66px;
}

.menu__list--items ::after{
  content: "";
  position: absolute;
  left:  8px;
  top:  80px;
  width: 355px;
  height:3px;
  background-color: #6A7A40;
}

.menu__list--items {
  li a:visited{
  color: #6A7A40;
  }
}
.menu__category--subitems{
  display: flex;
  line-height: 30px;
  flex-direction: column;
  font-size: $headline-four;
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
  text-decoration: underline;
}

.menu__category--subitems {
  li::after {
  content: "";
  position: absolute;
  left:  8px;
  top:  341px;
  width: 355px;
  height:3px;
  background-color: #6A7A40;
  }
}

.menu__category--subitems li {
  margin-bottom: 10px;
}
.menu__close--container{
  button {
  background-color: transparent;
  border: none;
  justify-content: space-between;
  display: none;
  }
}
.menu__close--container{
  display: none;
}

