.header__container--modal{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 13px;
  width: 100%;
}
.header__container--logo--modal{
  padding-right: 96px;
}
.header__container--logo--modal a img {
  width: 45%;
}

.mensaje-error-desktop{
  background-color: $alert;
  font-family: $font-barlow;
  margin-bottom: 5%;
}

.mensaje-error-desktop li{
  list-style: none;
}

.mensaje-valido-desktop{
  background-color:$background-text;
  padding: 2%;
}

.modal--js{
  background: rgba(0, 0, 0, 0.226);
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: none;
}

.modal__fondo{
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  z-index: 1;
}

.modal__cerrar{
  color: $white;
  cursor: pointer;
  height: 54px;
}

.modal__cerrar span{
  font-size: $headline-one;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.modal__mensaje{
  margin-left: 15%;
  margin-right: 15%;
  padding: 2% 2% 2% 2%;
}

.modal__titulo{
  font-family: $headlines-font-family;
  color: $background-text;
  font-size: 40px;
  margin-top: 40%;;
  text-align: center;
}



.modal__mensaje input {
  border: 1px solid $border-dark-green;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 3% 10% 3% 10%;
}


.modal__mensaje a{
  color: $background-text;
  display: block;
  font-size: $secondary-paragraph;
  font-family: $headlines-font-family;
  margin-top: 3%;
}

button{
  border: none;
  background-color: $background-text;
  border-radius: 4px;
  color: white;
  display: block;
  font-family: $headlines-font-family;
  padding: 3% 8% 3% 8%;
}

.modal__button{
  margin-left: 28%;
  margin-top: 10%;
}

.label-password{
  font-family: $headlines-font-family;
  color:$background-text;
  font-size: 1rem;
}

.correo-label{
  font-family: $headlines-font-family;
  color:$background-text;
  font-size:$principal-paragraph;
}

.password-label{
  font-family: $headlines-font-family;
  color:$background-text;
  font-size:$principal-paragraph;
}
