.sponsers__wrapper{
  margin: 0 auto;
  width: 355px;
}

.sponsers__title{
  font-size: $headline-two;
  font-family: $headlines-font-family;
  color:$background-text;
  text-align: left;
  font-weight: normal;
}

.sponsers__wrapper--sponsers p{
  font-size: $principal-paragraph;
  font-family: $paragraph-font-family;
  color: $background-text;
  margin-bottom: 44px;
}

.sponsers__wrapper--button--big a{
  background-color: $color-button-input-radio;
  padding: 20px 16px;
  box-shadow: $black-transparent;
  border-radius: 5px;
  color: $secondary-button-color;
  font-size: $secondary-paragraph;
  font-family:  $headlines-font-family;
  text-decoration: none;
  margin-left: 104px;
  text-transform: uppercase;
}

.sponsers__wrapper--button--big{
  margin-bottom:40px
}
