* {
  font-family: "Fjalla One", "arial", sans-serif; }

.component-section {
  border: 1px solid grey;
  padding: 10px; }

.headline-desktop {
  margin-bottom: 50px; }

.hdl-desktop-one {
  color: #556724;
  font-size: 96px; }

.hdl-desktop-two {
  color: #556724;
  font-size: 60px; }

.hdl-desktop-three {
  color: #556724;
  font-size: 48px; }

.hdl-desktop-four {
  color: #556724;
  font-size: 34px; }

.hdl-desktop-five {
  color: #556724;
  font-size: 24px; }

.hdl-desktop-body {
  color: #556724;
  font-size: 18px; }

.hdl-mobile-one {
  color: #556724;
  font-size: 48px; }

.hdl-mobile-two {
  color: #556724;
  font-size: 34px; }

.hdl-mobile-three {
  color: #556724;
  font-size: 24px; }

.hdl-mobile-four {
  color: #556724;
  font-size: 20px; }

.hdl-mobile-five {
  color: #556724;
  font-size: 18px; }
