.column {
  width: 15%;
  padding: 10px; }

.column img {
  cursor: pointer;
  opacity: 0.8;
  width: 100%; }

.column img:hover {
  opacity: 1; }

.container {
  text-align: center; }

.container img {
  box-shadow: 0 0 30px #b1adad, 0 0 60px #b1adad; }

.row {
  display: flex;
  justify-content: center; }

.option {
  border-bottom: 2px solid white;
  background-color: #556724;
  color: #3C2515;
  cursor: pointer;
  display: block;
  font-size: 22px;
  text-align: left;
  transition: 1s all ease;
  padding: 20px;
  width: 100%; }

.active {
  background-color: #96C528; }

.option:hover {
  background-color: #96C528; }

.content {
  background-color: white;
  display: none;
  padding: 18px; }

form label {
  color: #556724; }

.checkbox {
  margin-bottom: 0.5%; }

.option::after {
  content: '\02C6';
  float: right;
  font-size: 2rem;
  color: white;
  margin-left: 5px; }

.active::after {
  content: "\02C7";
  font-size: 2rem;
  color: white; }

.social-media {
  background-color: #556724;
  border-bottom: 2px solid white;
  padding: 2% 0 2% 0; }

.images {
  align-items: center;
  display: flex;
  justify-content: center; }

.option {
  color: white; }

.main-content {
  max-width: 500px; }

.instagram {
  margin: 0 2% 0 2%; }

.boton {
  color: #128f42;
  background: white;
  border-radius: 25px;
  border: 1px solid #128f42;
  text-decoration: none;
  padding: 8px 30px; }

.boton:hover {
  background: #128f42;
  color: white; }

.fondo {
  background: rgba(0, 0, 0, 0.226);
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%; }

.modal {
  align-items: center;
  background: linear-gradient(0deg, white 70%, #128f42 30%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 600px; }

.modal_cerrar {
  align-items: center;
  background: white;
  border-radius: 25px;
  color: #128f42;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 40px; }

.modal_titulo {
  color: white;
  font-size: 40px; }

.modal_mensaje {
  padding: 10px 30px; }

.modal_botones {
  background: whitesmoke;
  border-top: whitesmoke 1px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  width: 100%; }

.page {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center; }
