.row__column {
  width: 15%;
  padding: 10px; }

.row__column img {
  cursor: pointer;
  opacity: 0.8;
  width: 100%; }

.row__column img:hover {
  opacity: 1; }

.container {
  text-align: center; }

#container__img--big {
  box-shadow: 0 0 30px #b1adad, 0 0 60px #b1adad; }

.row {
  display: flex;
  justify-content: center; }

input {
  color: #3C2515; }

label {
  color: #3C2515; }

.item__content {
  background: #96C528;
  color: #3C2515;
  transition: 0.2s ease-in-out;
  overflow: hidden;
  max-height: 0; }

.active + .item__content {
  max-height: 1000px;
  padding: 8px;
  opacity: 1; }

.item__boton {
  color: white;
  background: #556724;
  border-bottom: 1px solid white;
  display: block;
  padding: 8px;
  font-weight: bold; }

.item__boton .active {
  background: #556724;
  opacity: 1; }

.item__boton:after {
  content: "\02C6";
  float: right; }

.item__boton.active:after {
  content: "\02C7"; }

.main-content__social-media {
  background-color: #556724;
  border-bottom: 2px solid white;
  padding: 2% 0 2% 0; }

.main-content__social-media__img {
  align-items: center;
  display: flex;
  justify-content: center; }

.main-content {
  max-width: 500px; }

.instagram {
  margin: 0 2% 0 2%; }

.contenedor-trabajos {
  display: none;
  color: #000;
  padding-top: 45px; }

.contenedor-trabajos.activo {
  display: flex;
  justify-content: space-evenly; }

.boton {
  color: #128f42;
  background: white;
  border-radius: 25px;
  border: 1px solid #128f42;
  text-decoration: none;
  padding: 8px 30px; }

.boton:hover {
  background: #128f42;
  color: white; }

.modal {
  background: rgba(0, 0, 0, 0.226);
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%; }

.modal__fondo {
  align-items: center;
  background: linear-gradient(0deg, white 70%, #128f42 30%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 600px; }

.modal__cerrar {
  align-items: center;
  background: white;
  border-radius: 25px;
  color: #128f42;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 40px; }

.modal__titulo {
  color: white;
  font-size: 40px; }

.modal__mensaje {
  padding: 10px 30px; }

.modal__botones {
  background: whitesmoke;
  border-top: whitesmoke 1px;
  display: flex;
  justify-content: space-evenly;
  width: 100%; }

.boton__abrir {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center; }
