// acordion
input{
  color: $dark-brown;
}
label{
  color:  $dark-brown;
}
.item__content {
  color: $dark-brown;
  max-height: 0;
  overflow: hidden; //Se reajustan cuando son formatos bloques para que no choquen entre si .
  transition: 0.2s ease-in-out;
  background: $green-lemon;
}
.active + .item__content{ //Cuando el div de arriba tenga active el item content va a tener maxheigh de 1000px esto porque es adyacente siempre le va al segundo los estilos.
  max-height: 1000px;
  opacity: 1;
  padding: 8px;
}
.item__boton {
  background: $dark-green;
  border-bottom: 1px solid $white-background;
  color: $white-background;
  display: block;
  font-weight: bold;
  padding: 8px;
}
.item__boton .active {
  background: $dark-green;
  opacity: 1;
}
.item__boton:after {
  content: "\02C6";
  float: right;
}
.item__boton.active:after {
  content: "\02C7";
}
.content__social-media{
  background-color: $dark-green;
  border-bottom: 2px solid $white-background;
  padding: 2% 0 2% 0;
}
.content__social-media--img{
  align-items: center;
  display: flex;
  justify-content: center;
}
.content{
  max-width: 500px;
}
.instagram{
  margin: 0 2% 0 2%;
}
.contenedor-trabajos{
  display: none;
  color: $black;
  padding-top: 45px;
}
.contenedor-trabajos.activo{
  display: flex;
  justify-content: space-evenly;
}
