// Alerta
.boton{
  background: $white-background;
  border-radius: 25px;
  border:1px solid $light-green;
  color: $light-green;
  padding: 8px 30px;
  text-decoration: none;
}
.boton:hover{
  background: $light-green;
  color: $white-background;
}
.fondo{
  background:$alert-color;
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.modal{
  align-items: center;
  background: linear-gradient(0deg,$white-background 70%, $light-green 30%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px
}
.modal_cerrar{
  align-items: center;
  background: $white-background;
  border-radius: 25px;
  color: $light-green;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 40px;
}
.modal_titulo{
  font-size: 40px;
  color: $white-background;
}
.modal_mensaje{
  padding: 10px 30px;
}
.modal_botones{
  background: $white-background;
  border-top:$white-background 1px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  width: 100%;
}
.page{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}
