//Anchor Container

.anchor{
  margin-bottom: 50px;
}

//Anchor Number One

.anchor__one:visited {
  color: #556724;
}

.anchor__one {
  color: #556724;
  font-size: 74px;
}

//Anchor Number two

.anchor__two:visited {
  color: #556724;
}

.anchor__two {
  font-size: 32px;
}
