.anchor__button {
  border-radius: 5px;
  box-shadow: $black-transparent;
  font-family: $font-fjalla-one;
  font-size: $button-text;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
