//Anchor Container

.anchor-container{
  margin-bottom: 50px;
}

//Anchor Number One

.anchor-one:visited {
  color: #556724;
}

.anchor-one{
  color: #556724;
  font-size: 74px;
}

//Anchor Number two

.anchor-two:visited {
  color: #556724;
}

.anchor-two {
  font-size: 32px;
}
