* {
  font-family: $font-fjalla-one;
}
// Button Section
.component__section {
  border: 1px solid $disabled-green;
  padding: 10px;
}
// Button Container
.button {
  margin-bottom: 50px;
}
// Primary Button
.btn__primary {
  background-color: $green-lemon;
  border-radius: 5px;
  box-shadow: $box-shadow-color;
  color: $dark-brown;
  font-size: 18px;
  font-weight: medium;
  letter-spacing: 1px;
  padding: 18px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
// Secondary Button
.btn__secondary {
  background-color: $dark-brown;
  border-radius: 5px;
  box-shadow: $box-shadow-color;
  color: $white-background;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 20px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
// Desktop Button Seven
// Button Increase
.increase__btn--plus:hover {
  fill: $white-background;
}
.increase__btn--plus:hover ~ .increase__btn--cross {
  fill: $light-green;
}
//Button Decrease
.decrease__btn--minus:hover {
  fill: $white-background;
}
.decrease__btn--minus:hover ~ .decrease__btn--line {
  stroke: $light-green;
}
