// *** Card Number One ***
.home__container--cards--scroll {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin: 0 auto;
  margin-bottom: $small-space-diferent-topic;
  scroll-snap-type: x mandatory;
  width: calcularRem(355px);

  @media (min-width: $tablet) {
    width: calcularRem(480px);
  }
  @media (min-width: $mini-desktop) {
    width: calcularRem(550px);
  }
  @media (min-width: $desktop) {
    width: calcularRem(670px);
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
.product__card + .product__card{
  margin-left: calcularRem(15px);
}
.product__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: center;
  width: 275px;
}

.product__card--image {

  img {
    border-radius: $border-images;
    box-shadow: $black-transparent;
  }
}

.product__card--info {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.product__card--title {
  color: $font-title-color;
  font-size: 20px;
  font-family: $headlines-font-family;
  margin: 0 auto;
}
.product__card--price {
  color: $dark-font-color;
  font-family: $paragraph-font-family;
  font-size: 24px;
  font-weight: bold;
  text-shadow: $box-shadow;
  margin: 0 auto;
}
