// drawer
ul{
  margin: 0;
  padding: 0;
}
.close__button--img{
  pointer-events: none;
}
.delete__button--js{
  button{
    background-color: transparent;
    border: none;
    margin-left: 10px;
    margin-top: 12px;
  }
  @media(min-width: $tablet){
    margin-left: 10px;
    margin-top: 12px;
  }
}
.details__product--js{
  margin-left: 20px;
}
.details__product--name--js{
  color: $font-title-color;
  font-family: $headlines-font-family;
  font-size: $small-fontsize;
  font-weight: bold;

}
.details__product--price--js{
  color: $dark-font-color;
  font-family: $paragraph-font-family;
  font-size: $small-fontsize;
  font-weight: bold;
  text-shadow: $box-shadow;
}
.details__product--img--js{
  border-radius: $border-images;
  box-shadow: $black-transparent;
}
.drawer__box{
  background-color: $white-background;
  box-shadow: $box-shadow;
  display: none;
  height: 100vh;
  position: absolute;
  width: 100%;
  @media(min-width: $mini-desktop){
    position: fixed;
    top: 0;
    width: 481px;
    z-index: 10;
  }
  @media(min-width: $desktop){
    position:fixed;
    top: 0;
    width: 481px;
    z-index: 10;
  }
}
.drawer__box--conteiner{
  height: 900px;
}
.drawer__checkout-button{
  margin-left: calcularRem(40px);
  @media(min-width: $tablet){
    margin-top: 44px;
    margin-left: 202px;
  }
  @media(min-width: $mini-desktop){
    margin-top:  83px;
    margin-left: 74px;
  }
  @media(min-width: $desktop){
    margin-top:  14px;
    margin-left: 87px;
  }
}
.drawer__close--btn{
  padding-top: calcularRem(30px);
}
.drawer__close--btn{
  button{
  background-color: transparent;
  border: none;
  display: none;
  justify-content: space-between;
  @media(min-width: $mini-desktop){
    display: block;
    margin-left: 9px;
    margin-bottom: 10px;
  }
  @media(min-width: $desktop){
    display: block;
  }
  }
  img{
    filter: invert(46%) sepia(43%) saturate(1250%) hue-rotate(39deg) brightness(92%) contrast(103%);
  }
}
.drawer__item{
  border-top: 3px solid $border-dark-green;
  display: flex;
  flex-direction: row;
  margin-bottom: calcularRem(30px);
  padding-top: calcularRem(10px);
  width: calcularRem(337px);
  @media(min-width: $tablet){
    padding-left: 35px;
    padding-top: 20px;
    width: 646px;
  }
  @media(min-width: $mini-desktop){
    width: 375px;
  }
}
.drawer__product{
  height: 60vh;
  margin-top: 27px;
  overflow-y: scroll;
  padding-left: calcularRem(10px);
  width: 90%;
  @media(min-width: $tablet){
    margin: 0 auto;
  }
}

.drawer__title{
  h2{
    color: $dark-font-color;
    display: inline-block;
    font-family: $headlines-font-family;
    font-size: $headline-one;
    font-weight: 500;
    margin: 0;
    padding-bottom: calcularRem(31px);
    padding-left: calcularRem(112px);
    text-transform: uppercase;
      @media(min-width: $tablet){
        padding-left: 263px;
      @media(min-width: $mini-desktop){
        padding-left: 115px;
      }
      @media(min-width: $desktop){
        padding-left:  121px;
      }
    }
  }
}

.drawer__checkout--total{
  font-size: $secondary-paragraph;
  color: $text-light-green;
  font-family: $paragraph-font-family;
  span{
    color: $secondary-button-color;
    font-family: $headlines-font-family;
  }
}
