// drawer
ul{
  margin: 0;
  padding: 0;
}
.drawer__box{
  background-color: $white-background;
  display: none;
  height: 100vh;
  position: absolute;
  width: 100%;
}
.drawer__title{
  h2{
    color: $dark-font-color;
    display: inline-block;
    font-family: $headlines-font-family;
    font-size: $headline-one;
    font-weight: 500;
    margin: 0;
    padding-top: $small-space-diferent-topic;
    padding-left: calcularRem(100px);
    text-transform: uppercase;
  }

  &::after{
    background-color: $border-dark-green;
    content: "";
    height:3px;
    left:  calcularRem(10px);
    position: absolute;
    top:  calcularRem(138px);
    width: calcularRem(355px);
  }
}


