.modal__box{
  background-color: $white-background;
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__box--container{
  background-color: hotpink;
  padding-top: 122px;
}

.mensaje-error-desktop{
  background-color: $alert;
  font-family: $font-barlow;
  margin-bottom: 5%;
}

.mensaje-error-desktop li{
  list-style: none;
}

.mensaje-valido-desktop{
  background-color:$background-text;
  padding: 2%;
}
.modal__fondo{
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  z-index: 1;
}

.modal__cerrar{
  color: $white;
  cursor: pointer;
  height: 54px;
}

.modal__cerrar span{
  font-size: $headline-one;
  font-family: $font-fjalla-one;
}

.modal__mensaje{
  margin-right: 15%;
  padding: 2% 2% 2% 2%;
}

.modal__title{
  color: $background-text;
  font-family: $headlines-font-family;
  font-size: $headline-one;
  margin-top: 6px;
  text-align: center;
  padding-bottom: 46px;
}
.password__eyes{
  position: relative;
  top: 36px;
  left:300px;
}


.modal__mensaje input {
  border: 1px solid $border-dark-green;
  box-shadow: $box-shadow;
  margin-bottom: 25px;
  margin-top: 5px;
  padding-right: 142px;
  padding-bottom: 21px;
}

.modal__mensaje a{
  color: $background-text;
  display: block;
  font-size: $secondary-paragraph;
  font-family: $headlines-font-family;
  margin-top: 3%;
}

.modal__button{
  margin-left: 110px;
  margin-top: 20px;
}

.label-password{
  font-family: $headlines-font-family;
  color:$background-text;
  font-size: 1rem;
}

.correo-label{
  font-family: $headlines-font-family;
  color:$background-text;
  font-size:$headline-three;
}

.password-label{
  font-family: $headlines-font-family;
  color:$background-text;
  font-size:$headline-three;
}


