// Los estilos se dañan si coloco las clases en orden alfabetico

.form__desktop--contraseña--input, .form__desktop--usuario--input{
  color: $light-green;
  display: block;
  border: 2px solid $border-dark-green;
  font-family: $headlines-font-family;
  font-size: $secondary-paragraph;
  height: 40px;
  margin-bottom: calcularRem(30px);
  margin: 0 auto;
  width: calcularRem(355px);
  @media(min-width: $tablet){
    height: 55px;
    width:740px;
  }
  @media(min-width: $mini-desktop){
    height: 70px;
    width: 776px;
  }
}
.form__desktop--usuario--label, .form__desktop--contraseña--label{
  display: block;
  font-family: $font-fjalla-one;
  font-size: $headline-three;
  margin-bottom: $small-space-same-topic;
  padding-left: calcularRem(7px);
}

.container__form--desktop{
  background-color:$white-background;
  color: $text-light-green;
  margin: 0 auto;
  padding-bottom: calcularRem(176px);
  padding-top: calcularRem(74px);
  width:calcularRem(375px);
  @media(min-width: $tablet){
    width:768px;
  }
  @media(min-width: $mini-desktop){
    background-color:$text-light-green;
    color:$white-background;
    margin-top: 118px;
    width:800px;

  }
  a{
    color: $font-title-color;
    font-family: $headlines-font-family;
    font-size: $headline-four;
    @media(min-width: $mini-desktop){
      color:$white-background;
    }
  }
  button{

    display: block;
    margin: 0 auto;

  }
}
.container__form--desktop--h1{
  font-family: $headlines-font-family;
  font-size: $headline-one;
  padding-top: calcularRem(30px);
  text-align: center;
}

.form__desktop--background{
  box-sizing: border-box;
  display: none;
  height: 100vh;
  box-sizing: border-box;
  left: 0;
  padding-top: calcularRem(70px);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  @media(min-width: $mini-desktop){
    background-color: $background-green-transparent;
  }
}
.form__desktop--registrer{
  display: block;
  font-size: $headline-four;
  padding-top: $small-space-diferent-topic;
  text-align: center;
}
.form__desktop--remember{
  font-size: $small-fontsize;
  padding-top: calcularRem(30px);
  padding-left: calcularRem(8px);
}
.mensaje__error-desktop {
  background-color: $alert;
  box-sizing: border-box;
  height: 95px;
  margin: 0 auto;
  padding-top: calcularRem(3px);
  padding-left: calcularRem(45px);
  width: calcularRem(350px);

  li, h2{
    font-size:$small-fontsize;
  }
}
.mensaje__valido-desktop {
  background-color: $green-lemon;
  box-sizing: border-box;
  font-size: $small-fontsize;
  height: 95px;
  margin: 0 auto;
  padding-top: calcularRem(35px);
  text-align: center;
  width: calcularRem(350px);
}

.form__desktop--password{
  margin-top: calcularRem(23px);
}


.form__button{
  margin-top: calcularRem(30px);
}

.menu__close--modal{
  button{
    background-color: transparent;
    border: none;
    justify-content: space-between;
    left: calcularRem(312px);
    position: relative;
    top: calcularRem(67px);
    @media(min-width: $tablet){
      left: 700px;
      top: 88px;
    }
    @media(min-width: $mini-desktop){
      left: 935px;
      top: 185px;
    }
    @media(min-width: $desktop){
      left: 1036px;
      top: 185px;
    }
  }
  img{
    filter: invert(46%) sepia(43%) saturate(1250%) hue-rotate(39deg) brightness(92%) contrast(103%);
    @media(min-width: $mini-desktop){
      filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(321deg) brightness(109%) contrast(101%);
    }
  }
}
