ul{
  margin: 0;
  padding: 0;
}

.menu__box{
  background-color: $white-background;
  display: none;
  height: 100vh;
  overflow-y: hidden;
  position: absolute;
  width: 100%;
}
.menu__box--container{
  height: calcularRem(573px);
  padding-top: $small-space-same-topic;
}
.menu__close--container{
  display: none;
  button {
    background-color: transparent;
    border: none;
    display: none;
    justify-content: space-between;
  }
}

.menu__hamburger--container{
  display: flex;
  flex-direction: column;
}
.menu__list--items {
  color: $background-text;
  font-family: $headlines-font-family;
  font-size: $headline-three;
  font-weight: bold;
  line-height: calcularRem(84px);
  list-style: none;

  &::after{
    background-color: $border-dark-green;
    content: "";
    height:3px;
    left:  calcularRem(10px);
    position: absolute;
    top:  calcularRem(538px);
    width: calcularRem(355px);
  }

  li {
    a:visited{
      color: $background-text;
    }
  }
}


.menu__list--border{
    &::after {
    background-color: $border-dark-green;
    content: "";
    height:3px;
    left:  calcularRem(10px);
    position: absolute;
    top:  calcularRem(708px);
    width: calcularRem(355px);
  }
}
.menu__category--subitems{
  display: flex;
  flex-direction: column;
  font-size: $headline-four;
  font-weight: normal;
  line-height: calcularRem(63px);
  list-style: none;
  margin-bottom: $small-space-same-topic;
  padding: 0;
  text-decoration: underline;

  &::after {
  background-color: $border-dark-green;
  content: "";
  height:3px;
  left:  calcularRem(10px);
  position: absolute;
  top:  calcularRem(623px);
  width: calcularRem(355px);
  }
}


.menu__search--mobile{
  padding-bottom: 27px;

  &::after{
    background-color: $border-dark-green;
    content: "";
    height: 3px;
    left:  calcularRem(10px);
    position: absolute;
    top:  calcularRem(114px);
    width: calcularRem(355px);
  }
  input {
    border: 2px solid $border-dark-green;
    box-sizing: border-box;
    box-shadow: $box-shadow;
    padding-bottom: 12px;
    padding-right: 155px;
  }
  label{
    color: $background-text;
    font-family: $headlines-font-family;
    font-size: $small-fontsize;
    left: calcularRem(8px);
    position: relative;
    top: calcularRem(29px);
  }
}
.search__logo--mobile{
  bottom: 26px;
  left: 328px;
  position: relative;
}

