ul{
  margin: 0;
  padding: 0;
}

.header__desktop{
  display: none;
}

.menu__box{
  background-color: $white-background;
  display: none;
  height: 100vh;
  position: absolute;
  width: 100%;
}
.menu__box--container{
  height: calcularRem(573px);
  padding-top: 50px;
}
.menu__category--subitems {
  li::after {
    background-color: $border-dark-green;
    content: "";
    height:3px;
    left:  calcularRem(10px);
    position: absolute;
    top:  calcularRem(374px);
    width: calcularRem(355px);
  }
}
.menu__close--container{
  button {
    background-color: transparent;
    border: none;
    display: none;
    justify-content: space-between;
  }
}
.menu__close--container{
  display: none;
}
.menu__hamburger--container{
  display: flex;
  flex-direction: column;
}
.menu__list--items {
  color: $background-text;
  font-family: $headlines-font-family;
  font-size: $headline-three;
  font-weight: bold;
  line-height: 66px;
  list-style: none;
}
.menu__list--items{
  &::after{
    background-color: $border-dark-green;
    content: "";
    height:3px;
    left:  calcularRem(10px);
    position: absolute;
    top:  calcularRem(435px);
    width: calcularRem(355px);
  }
}
.menu__list--items {
  li a:visited{
  color: $background-text;
  }
}
.menu__list--border::after{
  background-color: $border-dark-green;
  content: "";
  height:3px;
  left:  calcularRem(10px);
  position: absolute;
  top:  calcularRem(504px);
  width: calcularRem(355px);
}
.menu__category--subitems{
  display: flex;
  flex-direction: column;
  font-size: $headline-four;
  font-weight: normal;
  line-height: 43px;
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
  text-decoration: underline;
}
.menu__search{
  padding-bottom: 30px;
}
.menu__search{
  &::after{
    background-color: $border-dark-green;
    content: "";
    height: 3px;
    left:  calcularRem(10px);
    position: absolute;
    top:  calcularRem(74px);
    width: calcularRem(355px);
  }
}
.menu__search {
  input {
    border: 2px solid $border-dark-green;
    box-sizing: border-box;
    filter: $box-shadow;
    padding-bottom: calcularRem(12px);
    padding-right: calcularRem(155px);
  }
}
