.sitemap{

  h2{
    color: $font-title-color;
    font-family: $headlines-font-family;
    font-size: $headline-three;
  }
}

.sitemap__content{

  a{
    text-decoration: none;
    color: $dark-font-color;
    padding-right: 8px;
  }

  :nth-child(1){
    &::after{
      top: 2px;
      content: "\003E";
      font-size: 22px;
      position: relative;
      left: 8px;
    }
  }
}
