.sitemap{

  h2{
    color: $font-title-color;
    font-family: $headlines-font-family;
    font-size: $headline-three;
  }
}
.sitemap__content{

  :nth-child(1){
    &::after{
      top: 2px;
      content: "\003E";
      font-size: 22px;
      position: relative;
      left: 8px;
    }
  }
}
.sitemap__content--1st--link{
  font-family: $paragraph-font-family;
  text-decoration: none;
  color: $font-title-color;
  padding-right: 8px;
}
.sitemap__content--2nd--link{
  font-weight: bold;
  color: $dark-font-color;
  font-family: $paragraph-font-family;
  text-decoration: underline;
  padding-right: 8px;
}
