html {
  @media (min-width: $mobile) {
    font-size: 16px;
  }
  @media (min-width: $tablet) {
    font-size: 24px;
  }
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.wrapper {
  width: calcularRem(355px);
  margin:  0 auto;

  @media(min-width: $tablet){
    width: 738px;
  }
  @media(min-width: $mini-desktop){
    width: 1000px;
  }

  @media(min-width: $desktop){
    width: 1280px;
  }
}

.mini-wrapper{
  width: calcularRem(328px);
  margin:  0 auto;
}

a{
  display: inline-block;
}

.avoid-clicks {
  pointer-events: none;
}
