$disabled-green: #D2DFD8;
$dark-green: #556724;
$dark-brown: #3C2515;
$font-fjalla-one:'Fjalla One', 'arial', sans-serif;
$font-barlow: 'Barlow Condensed', 'arial', sans-serif;
$green-lemon: #96C528;
$light-green: #688D01;
$white-background: #fff;
