// Paleta de color
$box-shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.25);
$dark-brown: #3C2515;
$dark-green: #556724;
$disabled-green: #D2DFD8;
$green-lemon: #96C528;
$light-green: #688D01;
$white-background: #fff;
$black: #000;
$alert-color:  rgba(0, 0, 0, 0.226);
$alert-red:red;

// Fonts
$font-barlow: 'Barlow Condensed', 'arial', sans-serif;
$font-fjalla-one:'Fjalla One', 'arial', sans-serif;
