.wrapper__checkout--container {

  margin: 0 auto;

  @media (min-width: $desktop) {
    width: 800px;
    margin: 0 auto;
  }
}

.wrapper__checkout--container h2 {
  color: $font-title-color;
  font-family: $headlines-font-family;
  font-size: $headline-two;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.checkout__progress--bar{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.checkout__step--js{
  text-align: center;
  position: relative;
  width: 100%;
}

.checkout__step--js p{
  color: $color-button-input-radio;
  font-family: $headlines-font-family;
  font-size: $secondary-paragraph;
  margin-bottom: 8px;
}

.checkout__bullet--js{
  background-color: $background-green-lemon;
  border: 2px solid $border-green-lemon;
  border-radius: 50%;
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  height: 35px;
  position: relative;
  transition: 0.2s;
  line-height: 33px;
  width: 35px;
}

.checkout__bullet--js.active{
  background: $background-brown;
  border-color: $background-brown;
}

.checkout__bullet--js span{
  color: $dark-font-color;
  font-family: $paragraph-font-family;
  font-size: $secondary-paragraph;
  font-weight: bold;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.checkout__bullet--js.active span{
  display: none;
}

.checkout__bullet--js:before,
.checkout__bullet--js:after{
  background: $background-green-lemon;
  bottom: 15px;
  content: '';
  height: 3px;
  position: absolute;
  right: -95px;
  width: 95px;

  @media (min-width: $tablet) {
    right: -212px;
    width: 214px;
  }
  @media (min-width: $mini-desktop) {
    right: -300px;
    width: 300px;

  }
  @media (min-width: $desktop) {
    //bottom: 15px;
    right: -233px;
    width: 235px;
  }
}

.checkout__bullet--js.active:after{
  animation: animate 0.3s linear forwards;
  background: $background-brown;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}

.checkout__step--js:last-child .checkout__bullet--js:before,
.checkout__step--js:last-child .checkout__bullet--js:after{
  display: none;
}

.checkout__step--js p.active{
  color: $buttons-hover;
  transition: 0.2s linear;
}

.checkout__step--js .check{

  display: none;
  font-size: 15px;
  left: 50%;
  position: absolute;
  top: 75%;
  transform: translate(-50%, -50%);
}

.checkout__step--js .check.active{
  color: $after-before-icons-color;
  display: block;
}

.checkout__form--wrapper{
  overflow: hidden;

  @media (min-width: $desktop) {
    margin: 0 auto;
    width: 600px;
  }

}

.checkout__form--wrapper {

  form{
    display: flex;
    width: 400%;
  }
}


.checkout__content--wrapper {
  text-align: left;
}

.checkout__form--wrapper form .checkout__content--wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 25%; transition: margin-left 0.3s ease-in-out;
}

.paragraph {
  font-size: 18px;
  color: $font-title-color;
}

.checkout__content--adress {
  display: flex;
  flex-direction: column;

  h3 {
    color: $dark-font-color;
    font-family: $headlines-font-family;
    font-size: $headline-three;
    font-weight: bold;
    margin: 0;
    padding-bottom: $small-space-same-topic;
    text-align: left;
  }

  p{
    color: $font-title-color;
    font-family: $paragraph-font-family;
    font-size: $secondary-paragraph;
    margin: 0;
  }
}


.checkout__content--adress {
  color: $font-title-color;
  font-family: $paragraph-font-family;
  font-size: $secondary-paragraph;
  margin: 0;
}

/* Chekout shipping Type */

.checkout__shipping--type {
  font-family: $headlines-font-family;
}

.chekout__shipping--method {
  cursor: pointer;
  display: block;
  font-size: $principal-paragraph;
  position: relative;
  padding-left: 35px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

/* Hide the browser's default radio button */
.chekout__shipping--method input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  border-radius: 50%;
  border: 3px solid $border-dark-green;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;

}

/* When the radio button is checked, add a blue background */
.chekout__shipping--method input:checked ~ .checkmark {
  border: 3px solid $border-dark-green;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  display: none;
  position: absolute;
}

/* Show the indicator (dot/circle) when checked */
.chekout__shipping--method input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.chekout__shipping--method .checkmark:after {
  border-radius: 50%;
  background: $border-green-lemon;
  left: 3px;
  height: 20px;
  top: 2px;
  width: 20px;

}

.checkout__shipping--button {
  align-items: center;
  display: flex;
  height: 45px;
  justify-content: flex-end;

  @media(min-width: $mobile){
    justify-content: flex-end;
  }
}

.anchor__button--medium {
  font-size: $small-fontsize;
  padding: 18px 72px;

  @media(min-width: $mobile){
    padding: 18px 55px;
    margin-left: 6px;
    border: none;
  }
}

.checkout__shipping {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.checkout__shipping--option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.checkout__shipping--type {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

  label {
    font-size: 24px;
    color: $dark-font-color;
    margin: 0;
    padding-bottom: 30px;
  }
}
.checkout__shipping--price {
  font-size: 24px;
  margin: 0;
}


/*Payment*/
.payment__options {
  h3 {
    color: $dark-font-color;
    font-family: $headlines-font-family;
    font-size: $headline-three;
    font-weight: bold;
    margin: 0;
    padding-top: $small-space-diferent-topic;
    padding-bottom: $small-space-same-topic;
    text-align: left;
  }
}

// Payment Methods
.payment__card--method {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

//Card Holder
.payment__card--holder {
  display: flex;
  flex-direction: column;
  margin-bottom: $small-space-same-topic;
  width: 280px;
}
.payment__card--holder {

  label {
    color: $font-title-color;
    font-family: $headlines-font-family;
    font-size: $secondary-paragraph;
    margin-bottom: 8px;

  }
  input {
    border-radius: $border-input;
  }
}

// Card Number
.payment__card--number {
  display: flex;
  flex-direction: column;
  margin-bottom: $small-space-same-topic;
  width: 280px;
}
.payment__card--number {

  label {
    color: $font-title-color;
    font-family: $headlines-font-family;
    font-size: $secondary-paragraph;
    margin-bottom: 8px;

  }
  input {
    border-radius: $border-input;
  }
}

//Expire and CVC
.payment__options--expire--cvc {
  display: flex;
  width: 100%;
}

//Expire
.payment__card--expire {
  display: flex;
  flex-direction: column;
  margin-bottom: $small-space-same-topic;
  width: 280px;

  label {
    color: $font-title-color;
    font-family: $headlines-font-family;
    font-size: $secondary-paragraph;
    margin-bottom: 8px;

  }
  input {
    border-radius: $border-input;
  }
}

//CVC
.payment__card--cvc {
  display: flex;
  flex-direction: column;
  margin-bottom: $small-space-same-topic;
  margin-left: 15px;
  width: 250px;

  label {
    color: $font-title-color;
    font-family: $headlines-font-family;
    font-size: $secondary-paragraph;
    margin-bottom: 8px;
  }

  input {
    border-radius: $border-input;
  }

  @media (min-width: $desktop) {
    margin-left: 50px;
  }
}

//Order confirm
.checkout__content--order--info {
  align-items: center;
  border-top: 2px solid $border-dark-green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout__content--order--title {
  color: $font-title-color;
  font-size: 20px;
  font-family: $headlines-font-family;
}
.checkout__content--order--price {
  color: $dark-font-color;
  font-family: $paragraph-font-family;
  font-size: 24px;
  font-weight: bold;
  text-shadow: $box-shadow;
}

//Total and subtotal
.checkout__content--total {
  align-items: center;
  border-top: 2px solid $border-dark-green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout__total--title {
  color: $font-title-color;
  font-size: 20px;
  font-family: $headlines-font-family;
}

.checkout__total--price {
  color: $dark-font-color;
  font-family: $paragraph-font-family;
  font-size: 24px;
  font-weight: bold;
  text-shadow: $box-shadow;
}


//Gracias por tu compra!
.page__thanks {

  h3{
    padding-top: 50%;
    color: $dark-font-color;
    font-family: $font-fjalla-one;
    font-size: $headline-three;
    text-align: center;
  }
}
