// Headlines

.headline-desktop {
  margin-bottom: 50px;
}

//Headline Desktop

// Headline 1 - Desktop 96px

.hdl-desktop-one {
  color: #556724;
  font-size: 96px;
}

//Headline 2 - Desktop 60px
.hdl-desktop-two {
  color: #556724;
  font-size: 60px;
}

//Headline 3 - Desktop 48px
.hdl-desktop-three {
  color: #556724;
  font-size: 48px;
}

//Headline 4 - Desktop 34px
.hdl-desktop-four {
  color: #556724;
  font-size: 34px;
}

//Headline 5 - Desktop 24px
.hdl-desktop-five {
  color: #556724;
  font-size: 24px;
}


//Body Desktop 18px
.hdl-desktop-body {
  color: #556724;
  font-size: 18px;
}

//Headline Mobile

//Headline 1 - Mobile
.hdl-mobile-one {
  color: #556724;
  font-size: 48px;
}

//Headline 2 - Mobile
.hdl-mobile-two {
  color: #556724;
  font-size: 34px;
}

//Headline 3 - Mobile
.hdl-mobile-three {
  color: #556724;
  font-size: 24px;
}

//Headline 4 - Mobile
.hdl-mobile-four {
  color: #556724;
  font-size: 20px;
}

//Body - Mobile 18px
.hdl-mobile-five {
  color: #556724;
  font-size: 18px;
}
