.hero__content {
  background-image: url(../../img/Hero-img.jpg);
  background-size: cover;
  width: 100%;
  height: 284px;
}
.hero__content--info {
  padding-top: 142px;

  a{
    float: right;
  }
  p {
    color: white;
    font-size: $small-fontsize;
    font-family: $paragraph-font-family;
  }
}
