// ***Banner***
.home__main--banner {
  background-color: $background-text;
  display: flex;
  flex-direction: column;
  text-align: center;
}
//Banner H3
.home__main--banner--content{

  h3{
    color: $white-background;
    font-family: $headlines-font-family;
    font-size: $headline-four;
    margin: 0 auto;
    padding-top: $space-same-topic;
    padding-bottom: 0;
  }
}
//Banner p
.home__main--banner--content {

  p{
    color:$white-background;
    font-family: $paragraph-font-family;
    font-size: $secondary-paragraph;
    margin: 0 auto;
    padding-top: $space-same-topic;
  }
}
//Banner Div Button
.home__main--banner--link {
  display: flex;
  justify-content: center;
  padding-top: $space-same-topic;
  padding-bottom: $space-same-topic;
}
// *** Card Number Two ***
.home__main--card--container {
  display: flex;
  flex-direction: column;
  padding-bottom: $small-space-diferent-topic;
  margin: 0;
}
.home__main--card--img {
  img{
    border-radius: $border-images;
    max-width: 100%;
  }
}
.home__main--card--info {

  h3{
    color: $font-title-color;
    font-size:$headline-three;
    font-family:$headlines-font-family;
    font-weight: bold;
    padding-top: $small-space-same-topic;
    margin: 0;
  }
  p {
    color: $font-title-color;
    font-size: $headline-three;
    font-family: $paragraph-font-family;
    padding-top: $small-space-same-topic;
    padding-bottom: $small-space-same-topic;
    margin: 0;
  }
}
.home__main--card--title{
  color: $font-title-color ;
  font-family: $headlines-font-family;
  font-size: $headline-two ;
  margin: 0 ;
  padding-top: $small-space-diferent-topic;
  padding-bottom: $small-space-same-topic ;
}
.home__main--card--container1{
  padding-bottom: $small-space-same-topic;
}
.home__main--sponsers{
  padding-bottom: $small-space-diferent-topic;
  h2{
    color: $font-title-color;
    font-size:$headline-three;
    font-family:$headlines-font-family;
    font-weight: bold;
    padding-top: $small-space-same-topic;
    margin: 0;
  }
  p {
    color: $font-title-color;
    font-size: $headline-three;
    font-family: $paragraph-font-family;
    padding-top: $small-space-same-topic;
    padding-bottom: $small-space-same-topic;
    margin: 0;
  }
}
.home__main--sponsers-button{
  display: flex;
  justify-content: center;
  text-align: center;
}
.home__container--cards{
  h2 {
    color: $font-title-color;
    font-size: $headline-two;
    font-family: $headlines-font-family;
    margin: 0;
    padding-bottom: $small-space-same-topic;
    padding-top: $small-space-diferent-topic;
  }
}
